/*-----------Navbar_Section--------------*/
@media (max-width: 770px) {
  #navbar {
    border: 0.5px solid #fff;
    align-items: center;
    width: 90%;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    /* justify-content: space-between; */
  }
  .logo {
    height: 35px;
    width: 120px;
    margin-top: 15px;
    margin-left: 15px;
  }
  #btn,
  #cancel {
    font-size: 30px;
    margin-right: 40px;
  }
  #btn {
    display: block;
  }

  #menu-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
    top: 62px;
    left: -100%;
    transition: all 0.5s;
    background-color: rgb(29, 25, 25);
    display: none;
  }
  .list-item {
    line-height: 45px;
    margin: 20px 10px;
  }
  .list-item a {
    font-size: 22px;
  }
  .nav-icons {
    display: none;
  }

  #check:checked ~ #menu-item {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}

@media (max-width: 1100px) {
  #main-heading h1 {
    font-size: 40px;
  }
}
@media (max-width: 900px) {
  #main-heading h1 {
    font-size: 30px;
  }
  #circles-heading-section #heading1st {
    font-size: 30px;
  }
}
@media (max-width: 677px) {
  #circles-heading-section #heading1st {
    font-size: 18px;
  }
  #circles-heading-section .circle-img {
    height: 30px;
    width: 30px;
  }
  #main-heading h1 {
    font-size: 20px;
  }
}

/*------------ plus-lines-section ---------*/
@media (max-width: 677px) {
  #plus-lines-section {
    margin-top: 35px;
    margin-left: 3vw;
  }
  .plus-text {
    font-size: 14px;
    padding: 4px 10px;
  }
  .orrange-circle {
    border-radius: 50%;
    padding: 2px 2px;
    margin-bottom: 10px;
  }
}
@media (max-width: 770px) {
  #button-left {
    margin-top: 25px;
    margin-left: 5px;
  }
  .btn-left {
    margin: 0px 10px;
    font-size: 14px;
    padding: 8px 12px;
  }
}
/*-----------headphone-discount-image-heading-section--------- */
@media (max-width: 770px) {
  .headphone-img {
    top: 21vh;
    left: 55vw;
    height: 60vh;
    width: 30vw;
  }
  .discount-img {
    top: 54vh;
    left: 43vw;
  }
  #discount-heading-section {
    top: 58vh;
    left: 47vw;
    width: 20vw;
    
  }
  .discount {
    margin-left: 10px;
    font-size: 13px;
  }
  .discount-percent {
    font-size: 25px;
  }
  #yellow-orrange-black-cercle {
    top: 82vh;
    left: 57vw;
  }
  #yellow-orrange-black-cercle span {
    border-radius: 50%;
    padding: 5px 8px;
    margin: 7px 12px;
  }
  #button-right {
    display: none;
  }
}
